@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
:root {
  --homieRed: #e50815;
}
.ce-auto {
  cursor: pointer;
}
body {
  background-color: #000;
  color: white;
}
#nav {
  background-color: transparent !important;
  color: white !important;
  height: 60px;
}
.logo {
  width: 50px;
  border: solid white;
  border-radius: 2px;
  margin-right: 20px;
}
.nowrap {
  white-space: nowrap;
}
.navbar-brand {
  color: var(--homieRed);
}

.planCard {
  border-radius: 20px;
}

.buyNowBtn {
  background-color: var(--homieRed);
  width: 330px;
}
.buyNowBtn:hover {
  background-color: var(--homieRed);
  width: 330px;
}

/* tooltip css */

.tooltip_custom {
  padding: 4px;
  font-size: 13px;
  background: rgb(255, 255, 255);
  color: var(--homieRed);
}

.linkItem {
  margin-top: 10px;
}

.bg-homie {
  background: var(--homieRed);
  color: #fff;
  border: none;
}
.homie-banner {
  position: relative;
  width: 100%;
  height: 480px;
  background-image: url(../assets/banner.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.homie-banner::before,
.homie-banner::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 25%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 1;
}

.homie-banner::after {
  top: auto;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}

.labelText {
  top: 220px;
  position: relative;
  z-index: 2;
}

.captionText {
  white-space: nowrap;
  font-weight: 400;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 340px;
}

.passImg {
  width: 25px;
  top: 4px;
  position: absolute;
  left: 265px;
  height: 20px;
  margin-top: 20px;
}

/* netflix email clone css */

.email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.email-form {
  display: flex;
  max-width: 600px;
  width: 100%;
}

.email-input {
  flex-grow: 1;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #8c8c8c;
  border-radius: 2px 0 0 2px;
  outline: none;
}

.email-input::placeholder {
  color: #8c8c8c;
}

.email-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--homieRed);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
  outline: none;
  transition: background-color 0.2s ease-in-out;
}

.email-button:hover {
  background-color: var(--homieRed);
}
.homie_nav_items {
  display: none;
}
.fs-24 {
  font-size: 24px;
}
.fs-20 {
  font-size: 20px;
}

/* desktop css */
@media screen and (min-width: 768px) {
  .mobileSingIn {
    display: none;
  }
  /* .video {
    position: absolute;
    right: 630px;
    top: 770px;
    width: 450px !important;
    height: 250px !important;
  } */
  .videoVid {
    position: absolute;
    right: 260px;
    top: 850px;
  }
  .tvFrame {
    z-index: 5;
    position: absolute;
    right: 189px;
    margin-top: 172px;
  }
  .bannerText {
    font-size: 48px;
    font-weight: 700;
    z-index: 10;
  }

  .textLogo {
    width: 150px;
    margin-left: 188px;
    height: auto;
    position: absolute;
    top: 30px;
    z-index: 10;
  }
  .signLink {
    margin-right: 20px;
  }
  .homie-banner {
    display: flex;
    justify-content: center;
  }
  .signIn {
    position: absolute;
    top: 30px;
    right: 192px;
    box-sizing: border-box;
    width: 76.9px;
    height: 32px;
    z-index: 10;
  }
  .hc-title {
    font-size: 48px;
    font-weight: 900;
    margin-left: -290px;
  }
  .hc-caption {
    font-size: 24px;
    font-weight: 400;
    max-width: 700px;
    text-align: left;
  }
  .leftTvText {
    margin-top: 185px;
    margin-left: 192px;
  }
  .homie-banner {
    position: relative;
    width: 100%;
    height: 625px;
    background-image: url(../assets/banner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .tvContainer {
    display: flex;
  }
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* mobile responsive css code  */

@media screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
  .labelText {
    top: 80px;
    position: relative;
    z-index: 2;
  }
  .captionText {
    font-size: 16px;
  }
  .bannerText {
    font-size: 32px;
    font-weight: 700;
  }
  nav {
    z-index: 10;
  }
  .spanCaption {
    font-size: 18px;
    padding: 20px;
  }
  button.navbar-toggler {
    visibility: hidden;
  }
  .cardFlex {
    display: flex;
    flex-direction: column;
  }
  .hamImg {
    width: 25px;
  }
  .textLogo {
    width: 100px;
    height: auto;
  }
  .planTitle {
    font-size: 20px !important;
  }
  .buyNowBtn {
    width: auto;
  }
  .email-form {
    flex-direction: column;
  }

  .email-input,
  .email-button {
    border-radius: 2px;
  }

  .email-input {
    margin-bottom: 10px;
    border-radius: 2px;
  }

  .email-button {
    border-radius: 2px;
  }
  .signUpContainer {
    margin-top: 20px;
  }
  .buyNowBtn {
    background-color: var(--homieRed);
    width: 270px;
  }
  .buyNowBtn:hover {
    background-color: var(--homieRed);
    width: 270px;
  }
  .mobileSingIn {
    z-index: 10;
    top: 14px;
    right: 24px;
    position: absolute;
  }
  .navBtn {
    font-size: 14px;
    width: 76.9px;
    height: 32px;
    padding: 4px;
  }
  img.textLogo {
    position: absolute;
    top: 19px;
  }
  .hc-title {
    margin-top: 70px;
    font-size: 32px;
    font-weight: 700;
  }
  .hc-caption {
    margin: 1rem;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
  }
  .tvFrame {
    width: 22.75rem;
    height: 17.0625rem;
    z-index: 6;
  }
  .video {
    position: absolute;
  }
  .videoVid {
    height: 260px;
    width: 350px;
    z-index: 5;
  }
  .tvContainer {
    display: flex;
    flex-direction: column !important;
  }
}
