@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
.ce-auto{
  cursor: pointer;
}
#nav{
  background-color: #ef233c !important;
  color: white !important;
}